<!DOCTYPE html>
<html>
  <head>
    <title>FriendTexter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/react-phone-number-input@2.x/bundle/react-phone-number-input-native.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/react-phone-number-input@2.x/bundle/style.css"/>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': true %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i|Press+Start+2P|Source+Code+Pro" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <div class="body">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
